openapi: "3.0.0"
info:
  description: "Bundesnetzagentur Strommarktdaten"
  version: "0.0.1"
  title: "Bundesnetzagentur Strommarktdaten"
  
servers:
  - url: "https://www.smard.de/app/chart_data/"
  
paths:
  /{filter}/{region}/index_{resolution}.json:
    get:
      parameters:
        - in: path
          name: filter
          schema:
            type: integer
            enum: [410, 1223, 1224, 1225, 1226, 1227, 1228, 4066, 4067, 4068, 4069, 4070, 4071, 4359, 4387]
          required: true
        - in: path
          name: region
          schema:
            type: string
            enum: [DE, 50Hertz, DE-LU, AT, LU, Amprion, TenneT, TransnetBW, APG, Creos]
            default: DE
          required: true
        - in: path
          name: resolution
          schema:
            type: string
            enum: [hour, quarterhour, day, week, month, year]
            default: hour
          required: true
      responses:
        200:
          description: OK
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Indices'
              example:
                timestamps: [1627855200000,1628460000000,1629064800000]
      description: "Verfügbare Timestamps für Filter, Region und Auflösung"
      summary: "Indizes"
    
  /{filter}/{region}/{filter}_{region}_{resolution}_{timestamp}.json:
    get:
      parameters:
        - in: path
          name: filter
          schema:
            type: integer
            enum: [410, 1223, 1224, 1225, 1226, 1227, 1228, 4066, 4067, 4068, 4069, 4070, 4071, 4359, 4387]
          required: true
        - in: path
          name: region
          schema:
            type: string
            enum: [DE, 50Hertz, DE-LU, AT, LU, Amprion, TenneT, TransnetBW, APG, Creos]
            default: DE
          required: true
        - in: path
          name: resolution
          schema:
            type: string
            enum: [hour, quarterhour, day, week, month, year]
            default: hour
          required: true
        - in: path
          name: timestamp
          schema:
            type: integer
          required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeSeries'
              example:
                meta_data: {"version": 1, "created": 1627858357549}
                series: [[1627250400000, 7866.0],[1627254000000, 7881.0]]
      description: "Zeitreihendaten nach Filter, Region und Auflösung ab Timestamp"
      summary: "Zeitreihendaten"
      
components:
  schemas:
    Indices:
      type: object
      properties: 
        timestamps:
          type: array
          items:
            type: integer
    TimeSeries:
      type: object
      properties:
        meta_data: 
          type: object
          properties:
            version:
              type: integer
            created:
              type: integer
        series:
          type: array
          items:
            type: array
            items:
              type: number
          
